/* Font got on https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3e3939;
}

/* Header and logo */

h1, h2 {
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #3a3a3a;
  text-align:center;
}

p {
  font-size: 17px;
  color: black;
}

/* logo postioning, shadow effect code got on https://www.w3schools.com/css/css3_shadows.asp*/
#logo {
  float: left;
  padding-left: 2%;
  font-size: 220%;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  letter-spacing: 10px;
}

/* Navigation Links */

/* menu styling*/
#menu {
  font-size: 110%;
  letter-spacing: 4px;
}

/* logo styling*/
#menu, logo{
  line-height: 75px;
}

/* list styling*/
#menu li {
  float:right;
  list-style-type: none;
  margin-right: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#menu a {
  text-decoration: none;
  font-size: 15px;
  color: inherit;
  text-shadow: #3e3939;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

nav {
  overflow: hidden;
  background-color: rgb(68, 201, 59);
}

.opened {
  border-bottom: 1px solid #3a3a3a;
}

/* Hero image */

#hero {
  height: 300px;
  width: 100%;
  background-image: url('../images/hero.jpg');
  

}